body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

.vg-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.vg-top {
  background: #f8e14ba1;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  padding-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.vg-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.vg-gallery {
  overflow: auto;
  background: #5dbcaf5c;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.vg-gallery-content {
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: none;
}
.vg-footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 5px;
  flex-grow: 0;
}

.ribbon a {
  background: #356962;
  color: #fff;
  text-decoration: none;
  font-family: Chilanka;
  text-align: center;
  padding: 5px 40px;
  font-size: 1.1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}
.ribbon a:hover {
  background: #c11;
  color: #fff;
}

.ribbon a::before,
.ribbon a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #ffff;
}

.ribbon a::after {
  bottom: 1px;
  top: auto;
}
@media screen and (min-width: 1000px) {
  .ribbon {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 260px;
    overflow: hidden;
    height: 260px;
    z-index: 9999;
  }
  .ribbon a {
    width: 160px;
    position: absolute;
    top: 40px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 5px  rgba(0, 0, 0, 0.8)
    /* box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.8); */

  }
}
